*{
    box-sizing: border-box;
    margin: 0px;
}
.menu{
    
    width: 100%;
    height: 40px;
    
    padding: 0px 16px 0px 16px;
    background-color: #34465c;
    display: flex;
    justify-content: space-between;
    
}
.nav-item{
    display:flex;
    align-items: center;
    
}
.nav-link{
    color: white;
    font-size: 15px;
}
.logo{
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 120px;
}

.col img {
    width: 90px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
h2{
    font-size: 17px;
    text-align: center;
}
.card img {
    height: 200px;
}
.col-xl-3{
    margin-bottom: 20px;
}
