*{
    box-sizing: border-box;
    margin: 0px;
}
.navbar-1{
    width: 100%;
    height: 30px;
    padding: 0px 16px 0px 16px;
    
    display: flex;
    justify-content: space-between;

}
.menu-1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 15px;
}
.list-menu-1{
    display: flex;
}
.list-menu-1 a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
li{
    display: flex;
    margin: 0px 20px;
}
.icon-up{
    font-size: 100px;
    color: #464646;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
hr{
    margin-top: 2px;
    border-style: none;
    border-width: 0px;
    height: 1px;
    background-color: rgb(196, 196, 196);
}
.navbar-2{
    width: 100%;
    height: 60px;
    padding: 0px 50px 0px 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 150px;
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    margin-top: -40px;
    width: 170px;
    height: 80px;
}
.menu-2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-right: -100px;
    font-size: 14px;
}
.list-menu-2{
    display: flex;
}
.list-menu-2 a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.a1{
    display: flex;
    margin: -25px 20px;
}
.anh img{
   
    width: 100%;
    
}
.nam{
margin-top: 50px;
text-align: center;
font-size: 24px;
}
.button-1{
margin-top: 17px;
margin-bottom: 50px;
width: 240px;
height: 50px;
margin-left: 449px;
background-color: black;
color: white;
border-color: black;
}
.button-2{
    width: 240px;
    height: 50px;
    background-color: white;
    border-color: black;
}
table, td, th {
    border: 1px solid gray;
    border-collapse: collapse;
}
.b1{
    border-color: rgb(230, 217, 217);
    width: 700px;
    height: 100px;
    vertical-align: top;
    padding-top: 50px;
}
.b1 img{
    width: 580px;
    
   
   
   margin-left: 45px;
   margin-right: 30px;
   margin-bottom: 30px;
}
.b11{
    font-size: 35px;
    text-align: center;
}
.b12{
    text-align: center;
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 10px;
    color:#464542; 
}
.b2{
    width: 800px;
    height:  200px;
    border-color: rgb(230, 217, 217);
}
.b3{
    width: 800px;
    height:  60px;
    border-color: rgb(230, 217, 217);
    text-align: center;
    padding: 41px 0 ;
    font-size: 30px;
}
.b22 img {
    width: 300px;
    height: 330px;
    
}
.c1{
 margin-top: 200px;
 font-size: 38px;
 text-align: center;
 border-color: rgb(230, 217, 217);
}
.c11{
    font-size: 19px;
    text-align: center;
    margin-top: 12px;
    color:#6e6d6a; 
}
.button-3{
    width: 240px;
    height: 50px;
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 180px;
    background-color: black;
    color: white;
    border-color: black;
}
.d1{
    width: 300px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
}
.d1 img {
    margin: 30px 30px;
    width: 373px;
}
.end{
    background-color: black;
    width: 100%;
    height: 200px;
    color: white;
    padding: 0  65px;
    
}
.e1{
padding: 40px 0;
font-size: 16px;
}
.e3 ul{
    padding: 0;
}
.e3 ul li{
    float: left;
    margin: 20px 65px 20px 0;
    
}

.e3 ul li:last-child{
    margin-right: 0;
}
.menu-detail{
    display: none;
}

.list-menu-2 li div.active{
    display: block;
}
