a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: aqua;
    /* display: block; */
    /* width: 500px; */
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px;

}